<html>
  <head>
   <title> Dance website</title>
   style
       include ../static/styleab.css
  </head>
  <body>
    <div class="uij">
      <img src='/static/ji.jpg'>
      <nav>
      <li><a href='/'>Home</a></li>
      <li><a href='/'>About Us</a></li>
      <li><a href='/'>Class Info</a></li>
      <li><a href='/'>Contact</a></li>
    </nav>
    </div>
    <div class="uio"></div>
    <div class="hello">
      <div class="jio">About Us</div>
    </div>
    <div class="lyu">
        <img src="/static/fty.jpg">
        <div class="voda">
            <p id="lop">The History</p>
            <p id="iop">It was set up by the Indian education ministry on 31 May 1952 and became functional the following year, with the appointment of its first chairman, Dr. P. V. Rajamannar. Dr Rajendra Prasad, the first President of India, inaugurated it on 28 January 1953 in a special function held in the Parliament House. The academy's Fellowship and Award are considered very prestigious.</p>       
        </div>
    </div>
  </body>