<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    style
      include ../static/stylecon.css
</head>
<body>
  <header>
    <div class="uij">
    <div><img src="/static/ji.jpg"></div>
     <nav>
      <li><a href='/'>Home</a></li>
      <li><a href='/'>About Us</a></li>
      <li><a href='/'>Class Info</a></li>
      <li><a href='/'>Contact</a></li>
      </nav>
    </div>
  </header>
  <div class="uio"></div>
      <div class="kill">
      <div class="chill"><h2>Contact Us</h2></div>
      <form action="/contact" method="post" id="contact">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="date" name="date" placeholder="Enter your D.O.B">
        <input type="email" name="email" plceholder="Enter email">
        <input type="text" name="hobbies" placeholder="Enter hobbies"><br>
        <button class="btn">Submit</button>
      </form>
  </div>
      
</body>
</html>