<html>
  <head>
   <title> Dance website</title>
   style
       include ../static/style.css
  </head>
  <body>
    <div class="uij">
      <img src='/static/ji.jpg'>
      <nav>
      <li><a href='/'><u>Home</u></a></li>
      <li><a href='/about'>About Us</a></li>
      <li><a href='/'>Class Info</a></li>
      <li><a href='/contact'>Contact</a></li>
    </nav>
    </div>
    <div class="uio"></div>
    <div class="hello">
      <div class="jio">Welcome To Indian Dance Academy</div>
      <div class="hut">FUTURE OF DANCE</div>
    </div>
    <div class="fellow">
     <div class='du'><h2>OUR MISSION</h2></div>
     <div class="koi">
      <div id='oppo' class='jiu'>
        <h3>Spreading Indian Culture</h3>
        <p>Representing Indian Culture on world stage</p> 
        <img src="/static/d1.png">
      </div>
     <div id='uiy' class='jiu'>
       <h3>Expert Teaching</h3>
       <p>Expertised gurus from historical dance background having deep knowledge of indian dance</p>
       <img src="/static/danceiii.jpg">
     </div>
     <div id='poi' class='jiu'>
      <h3>Dance perfection</h3>
      <p> Regular competition along with session to build proper skills</p>
      <img src="/static/downloadii.png">
      </div>
     </div>
    </div>
    <footer>
      <h2>Our Sponsers</h2>
      <div>
      <img src="/static/sponser.png">
      <img src="/static/sponsersii.jpg">
      <img src="/static/images.png">
    </div>
    </footer>
  </body>
